# =========================
# Python / Django / FastAPI
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.env
.env.*
!.env.example
*.log
db.sqlite3
db.sqlite3-journal
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
dist-ssr/
.vite/
*.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
package-lock.json

# =========================
# ML / Data / Notebooks
# =========================
.ipynb_checkpoints/
mlruns/
models/
artifacts/
outputs/
*.pkl
*.joblib
*.h5
*.keras
*.onnx

# opcional: si no quieres subir datasets grandes
data/raw/
data/processed/

# =========================
# Docker / OS / Editors
# =========================
.docker/
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?